:root {
    /* Font Families */
    --simple-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --body-font-family: var(--simple-sans-serif);

    /* Brand Colors */
    --brand-color: #bc3f9f;
    --brand-color-light: #dfa0d0;

    /* Call-to-Action Colors */
    --cta-bg: var(--brand-color);
    --cta-text: #fff;

    /* Button Colors */
    --btn-bg: #666;
    --btn-bg-hover: #999;
    --btn-text: #eee;
    --btn-text-hover: #eee;

    /* Background and Text Colors */
    --background-light: #ffffff;
    --text-light: #333;
    --background-dark: #333;
    --text-dark: #eee;

    --link-light: #dfa0d0;
    --link-dark: #bc3f9f;

    /* Logo */
    --logo-height: 3rem; /* Adjust logo height as needed */

    /* Dropdown Navigation */
    --dropdown-nav-hover: #999;
    --dropdown-nav-text: #fff;

    /* Font Sizes for Large Screens */
    --h1-font-size: 2.5rem; /* 40px */
    --h2-font-size: 2rem;   /* 32px */
    --h3-font-size: 1.75rem;/* 28px */
    --h4-font-size: 1.5rem; /* 24px */
    --h5-font-size: 1.25rem;/* 20px */
    --h6-font-size: 1rem;   /* 16px */

    /* Font Sizes for Medium Screens */
    --h1-font-size-md: 2.25rem; /* 36px */
    --h2-font-size-md: 1.875rem;/* 30px */
    --h3-font-size-md: 1.625rem;/* 26px */
    --h4-font-size-md: 1.375rem;/* 22px */
    --h5-font-size-md: 1.125rem;/* 18px */
    --h6-font-size-md: 0.875rem;/* 14px */

    /* Font Sizes for Small Screens */
    --h1-font-size-sm: 2rem;    /* 32px */
    --h2-font-size-sm: 1.75rem; /* 28px */
    --h3-font-size-sm: 1.5rem;  /* 24px */
    --h4-font-size-sm: 1.25rem; /* 20px */
    --h5-font-size-sm: 1rem;    /* 16px */
    --h6-font-size-sm: 0.875rem;/* 14px */
}

/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font-family);
    background-color: var(--background-light);
    color: var(--text-light);
}

/* Default Anchor Styles */
a {
    color: var(--link-dark);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Section Styles */
section>img {
    max-width: 90%;
    margin: 0.1rem 0;
}

section p>img, .section p>img {
    float: right;
    max-width: 40%;
    padding-left: 0.625rem;
    padding-bottom: 0.625rem;
}

section p>img.l, .section p>img.l {
    float: left;
    max-width: 40%;
    padding-right: 0.625rem;
    padding-bottom: 0.625rem;
}

/* Image Flexy Styles */
img.flexy,
img.flexy-sm,
img.flexy-md,
img.flexy-lg {
    width: 98%;
    object-fit: cover;
    object-position: top;
}

.img.flexy-sm {
    height: 20vh;
}

img.flexy-md,
img.flexy {
    height: 30vh;
}

img.flexy-lg {
    height: 50vh;
}

img.sm {
    max-width: 20%;
}

img.md {
    max-width: 40%;
}

img.lg {
    max-width: 60%;
}

section>img.xl, .section>img.xl {
    max-width: 98%;
}

/* List Styles */
section ul {
    width: fit-content;
    text-align: left;
    margin-top: 2rem !important;
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

li b, li strong {
    font-weight: 500;
    text-transform: capitalize;
}

/* Font Size Classes */
.fs-xs {
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.1rem;
}

.fs-sm {
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.fs-md {
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.fs-lg {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2rem;
}

/* Padding Classes */
.pd-sm {
    padding-top: 0.1rem;
}

.pd-b-sm { 
    padding-bottom: 1rem;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-1 {
    padding-bottom: 1rem !important;
}

.pb-2 {
    padding-bottom: 2rem !important;
}

/* Header Styles */
body > header {
    background: var(--background-dark);
    color: var(--text-dark);
    padding: 0.625rem 1.25rem; /* 10px 20px */
    padding-right: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Navigation Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.logo {
    flex: 0 0 auto;
}

.logo a {
    cursor: pointer;
}

.logo img {
    height: var(--logo-height);
    max-width: calc(100vw / 3);
    display: block; /* Ensure no extra space is added */
}

.nav-links {
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center; /* Align items vertically */
    margin: 0;
}

.nav-links.end {
    justify-content: end;
}

.nav-links li {
    margin: 0 0.9375rem; /* 15px */
}

.nav-links li a {
    color: var(--text-dark);
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: underline;
}

/* Extra Elements Styles */
.extra-elements {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: center;
}

/* Button Styles */
.button, button, .cta-button {
    padding: 0.625rem 1.25rem; /* 10px 20px */
    background: var(--cta-bg);
    color: var(--cta-text);
    border: none;
    border-radius: 0.3125rem; /* 5px */
    cursor: pointer;
    margin-left: 10px; /* Add space between buttons */
}

.button, button {
    background-color: var(--btn-bg);
    color: var(--btn-text);
}

.cta-button:hover {
    background: var(--brand-color-light);
}

/* Menu Icon Styles */
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
    padding: 9px 20px;
}

.menu-icon span {
    background: var(--text-dark);
    height: 0.125rem; /* 2px */
    margin: 0.25rem 0; /* 4px */
    width: 1.5625rem; /* 25px */
}

/* Section Padding Styles */
section:after {
    content: "";
    clear: both;
    display: table;    
}

section, .section,
section.space-md, .section.space-md {
    padding: 2rem 1rem; /* 60px 20px */
}

section.space-lg, .section.space-lg {
    padding: 3.75rem 1.5rem;
}

section.space-sm, .section.space-sm {
    padding: 0.75rem 0.75rem;
}

/* Text Alignment Styles */
.center {
    text-align: center;
}

.left {
    text-align: left;
}

/* Section Padding Classes */
section .tp {
    padding-top: 0.625rem;
}

section .bp {
    padding-bottom: 0.625rem;
}

/* Container Styles */
.site-container-lg,
.mw-xs, .mw-sm, .mw-md, .mw-lg
.site-container, .site-container-md,
.site-container-sm {
    padding-bottom: calc(1.2rem + 0.625rem + 0.625rem);
    margin: 0 auto;
}

.mw-xs {
    max-width: 40rem;
    margin: 0 auto;
}

.mw-lg, .site-container-lg {
    max-width: 95rem;
}

.mw-md, .site-container, .site-container-md {
    max-width: 75rem;
}

.mw-sm, .site-container-sm {
    max-width: 55rem;
}

/* Heading Styles */
h1, h2 {
    margin-bottom: 1.25rem; /* 20px */
}

/* Footer Styles */
footer {
    background: var(--background-dark);
    color: var(--text-dark);
    text-align: center;
    padding: 0.625rem 0; /* 10px 0 */
    width: 100%;
}

footer a {
        color: var(--link-light);
        text-decoration: none;
    }

/* Responsive Grid System */
.row {
    display: grid;
    grid-gap: 0.625rem; /* 10px */
}

.row.big-gap {
    grid-gap: 1.5rem;
}

.col-1 {
    grid-template-columns: repeat(1, 1fr);
}

.col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.col, .col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.col-4 {
    grid-template-columns: repeat(4, 1fr);
}

.col-5 {
    grid-template-columns: repeat(5, 1fr);
}

.col-6 {
    grid-template-columns: repeat(6, 1fr);
}

.col-7 {
    grid-template-columns: repeat(7, 1fr);
}

.col-8 {
    grid-template-columns: repeat(8, 1fr);
}

.col-9 {
    grid-template-columns: repeat(9, 1fr);
}

.col-10 {
    grid-template-columns: repeat(10, 1fr);
}

.col-11 {
    grid-template-columns: repeat(11, 1fr);
}

.col-12 {
    grid-template-columns: repeat(12, 1fr);
}

/* Grid Padding */
.row {
    padding: 0.625rem; /* 10px */
}

/* Width Classes */
.full, .w-100 { width: 100%; }
.xl { width: 98%; }
.w-90 { width: 90%; }
.w-80 { width: 80%; }
.w-70 { width: 70%; }
.lg, .w-60 { width: 60%; }
.half, .w-50 { width: 50%; }
.md, .w-40 { width: 40%; }
.w-30 { width: 30%; }
.sm, .w-20 { width: 20%; }
.w-10 { width: 10%; }

/* Push Classes */
.push-1 { grid-column-start: span 1; }
.push-2 { grid-column-start: span 2; }
.push-3 { grid-column-start: span 3; }
.push-4 { grid-column-start: span 4; }
.push-5 { grid-column-start: span 5; }
.push-6 { grid-column-start: span 6; }
.push-7 { grid-column-start: span 7; }
.push-8 { grid-column-start: span 8; }
.push-9 { grid-column-start: span 9; }
.push-10 { grid-column-start: span 10; }
.push-11 { grid-column-start: span 11; }
.push-12 { grid-column-start: span 12; }

/* Grid Item Styles */
.grid-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 2vw;
}

.grid-item header {
    text-align: center;
    padding: 1rem;
}

.grid-item div {
    flex: 1;
}

.grid-item img.fr {
    float: right;
}

.grid-item img.fl {
    float: left;
}

/* Responsive Styles for Medium Screens */
@media (max-width: 1200px) {
    .row img.half {
        width: 25%;
    }

    .col, .col-3 {
        grid-template-columns: repeat(2, 1fr);
    }

    .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        grid-template-columns: repeat(2, 1fr);
    }

    .mw-lg, .site-container-lg {
        max-width: 90%;
    }

    .mw-md, .site-container-md {
        max-width: 80%;
    }

    .mw-sm, .site-container-sm {
        max-width: 70%;
    }
}

/* Responsive Styles for Small Screens */
@media (max-width: 768px) {
    ul {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }

    nav .cta-button {
        padding: 0.625rem 0.5rem;
    }

    .menu-icon {
        padding: 9px 0.625rem;
    }

    section, .section {
        padding: 1.25rem 1rem;
    }

    nav {
        display: flex;
        align-items: center;
    }

    .nav-links {
        margin-left: 0 !important;
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background: var(--background-dark);
    }

    .nav-links li > a {
        display: inline-block;
        width: 100%;
        height: 3rem;
        line-height: 3rem;
    }

    .nav-links.lines li > a {
        border-top: 1px solid var(--background-light);
    }

    .nav-links li > a:hover,
    .nav-links li > a:active {
        background-color: var(--dropdown-nav-hover);
        color: var(--dropdown-nav-text);
    }

    .nav-links.active {
        display: initial;
        text-align: center;
    }

    .menu-icon {
        display: flex;
    }

    .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
    .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        grid-template-columns: repeat(1, 1fr);
    }

    .mw-sm, .site-container-sm {
        max-width: 80%;
    }

    .row img.half {
        width: 25%;
    }
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-dark);
        color: var(--text-dark);
    }

    a {
        color: var(--link-light);
        text-decoration: none;
    }

    /* Keep header and footer dark */
    body > header {
        background: var(--background-dark);
        color: var(--text-dark);
        border-bottom: 1px solid #ccc;
    }

    footer {
        border-top: 1px solid #ccc;
        background: var(--background-dark);
        color: var(--text-dark);
    }

    /*.nav-links li a {
        color: var(--text-light);
    }*/

    /*.menu-icon span {
        background: var(--text-light);
    }*/

    /*.nav-links {
        background: var(--background-light);
    }*/
}

/* Heading Font Sizes */
h1, .h1 { font-size: var(--h1-font-size); }
h2, .h2 { font-size: var(--h2-font-size); }
h3, .h3 { font-size: var(--h3-font-size); }
h4, .h4 { font-size: var(--h4-font-size); }
h5, .h5 { font-size: var(--h5-font-size); }
h6, .h6 { font-size: var(--h6-font-size); }

/* Responsive Heading Font Sizes for Medium Screens */
@media (max-width: 1200px) {
    h1, .h1 { font-size: var(--h1-font-size-md); }
    h2, .h2 { font-size: var(--h2-font-size-md); }
    h3, .h3 { font-size: var(--h3-font-size-md); }
    h4, .h4 { font-size: var(--h4-font-size-md); }
    h5, .h5 { font-size: var(--h5-font-size-md); }
    h6, .h6 { font-size: var(--h6-font-size-md); }
}

/* Responsive Heading Font Sizes for Small Screens */
@media (max-width: 768px) {
    h1, .h1 { font-size: var(--h1-font-size-sm); }
    h2, .h2 { font-size: var(--h2-font-size-sm); }
    h3, .h3 { font-size: var(--h3-font-size-sm); }
    h4, .h4 { font-size: var(--h4-font-size-sm); }
    h5, .h5 { font-size: var(--h5-font-size-sm); }
    h6, .h6 { font-size: var(--h6-font-size-sm); }
}

/* Margin Zero Classes */
.zmzm, .zm {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.zmzm {
    margin-left: 0px;
    margin-right: 0px;
}
